<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <xacro:macro name="robot_arm" params="
    parent
    *origin
    ur_type
    joint_limits_parameters_file
    kinematics_parameters_file
    physical_parameters_file
    visual_parameters_file
    safety_limits
    safety_pos_margin
    safety_k_position
    ">

    <joint type="fixed" name="workspace_joint">
      <xacro:insert_block name="origin" />
      <child link="workspace_link"/>
      <parent link="${parent}"/>
    </joint>

    <link name='workspace_link'>
      <inertial>
        <mass value="1.0e-03"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia
            ixx="1e-6" ixy="0" ixz="0"
            iyy="1e-6" iyz="0"
            izz="1e-6"
        />
      </inertial>
    </link>

    <link name="robot_mount"/>

    <joint name="base_to_robot_mount" type="fixed">
      <parent link="workspace_link"/>
      <child link="robot_mount"/>
      <origin xyz="0 0.5 0" rpy="0 0 ${pi}" />
    </joint>


    <!-- arm -->
    <xacro:ur_robot
      name="${ur_type}"
      tf_prefix="${ur_type}_"
      parent="robot_mount"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
      safety_limits="${safety_limits}"
      safety_pos_margin="${safety_pos_margin}"
      safety_k_position="${safety_k_position}"
      force_abs_paths="true"
      >
      <origin xyz="0 0 0" rpy="0 0 0" />          <!-- position robot in the world -->
    </xacro:ur_robot>
  </xacro:macro>

</robot>